* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 15px;
    font-family: verdana;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Open Sans";
    margin: 0px;
}


/* ссылки */

a {
    text-decoration: none;
}

a:active,
a:link,
a:visited {
    color: #4c4c4c;
}

a:focus,
a:hover {
    color: #fe0000;
}

a img {
    filter: brightness(1.00);
    transition: 0.25s;
}

a:hover img {
    filter: brightness(1.2);
    transition: 0.25s;
}


img {
    max-width: 100%;
    display: block;
}


.social_networks__container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}
.social_networks__container a {
    transform: rotate(0deg);
    transition: 0.5s;
    border-radius: 50%;
    margin: 5px;
}
.social_networks__container a:hover {
    transform: rotate(360deg);
    transition: 0.5s;
    
}

.container__grid_200 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.container__grid_250 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}
.container__grid_300 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}







.btn::-moz-focus-inner {
    border: 0px;
    padding: 0px;
}

.btn {
    border: none;
    display: inline-block;
    font-family: "Open Sans";
    font-size: inherit;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn__red,
.btn__red:focus,
.btn__red:link,
.btn__red:visited {
    background-color: #f00000;
    color: #fff;
    transition: 0.3s;
}
.btn__red:active,
.btn__red:hover {
    color: #fff;
    background-color: #cb0000;
    transition: 0.3s;
}



.btn__std {
    margin: 5px;
    border-radius: 5px;
}
