{% load static %}

<div class="header__wrapper">
    <header class="header__container" style="align-items: center;">
        <div>ТЕЛЕФОНЫ +7-929-2000-350, +7-929-2000-190</div>
        <h1 style="font-size: 1.5em;">
            <span style="color: #4f4f4f;">Auto</span>
            <span style="color: #f00000;">Custom</span>
        </h1>
        <div><input placeholder="Поиск" style="height: 2em; border-radius: 2px; border: 2px #4f4f4f solid; background: transparent;"></div>
        <div class="social_networks__container" style="margin-left: auto;">
            <a href="https://vk.com/autocustom72" target="_blank">
                <img src="{% static 'core/social_network_icons/vk__black.png' %}">
            </a>
            <a href="" target="_blank">
                <img src="{% static 'core/social_network_icons/facebook__black.png' %}">
            </a>
            <a href="" target="_blank">
                <img src="{% static 'core/social_network_icons/youtube__black.png' %}">
            </a>
            <a href="" target="_blank">
                <img src="{% static 'core/social_network_icons/instagram__black.png' %}">
            </a>
        </div>
    </header>
</div>

