{% load static %}


<div class="address__wrapper">
    <div class="address__container">
        <div class="address__section wide" style="flex-basis: 300px;">
            <p></p>
        </div>
        <div class="address__section wide" style="flex-basis: 300px;">
            <p style="text-align: center;">&copy; AutoCustom, 2017</p>
        </div>
        <div class="address__section wide" style="flex-basis: 300px; display: flex; align-items: center; justify-content: center;">
            <div>Дизайн:&nbsp;</div>
            <div>
                <a href="http://web-style.pro/" target="_blank"><img src="{% static 'core/web-style.png' %}" alt="веб-студия «Web-Style.pro»"></a>
            </div>
        </div>
    </div>
</div>
